.navbar {
    height: 56px;
    justify-content: baseline;
}

.navLink {
    display: inline-block;
    color: rgb(201, 201, 201);
    transition: color 0.2s;
}

.navLink:hover {
    color: rgb(175, 175, 175);
    text-decoration: none;
}

.networkBackground {
    width: 650px;
    height: calc(100% - 56px);

    margin: auto;
    margin-top: 56px;

    background: rgb(201, 201, 201);

    z-index: -1;
}

#networkContainer {
    width: 650px;
    height: calc(100% - 56px);
    
    margin: auto;
    margin-top: 56px;
    padding: 25px;

    justify-content: center;
    align-items: center;

    z-index: 1000;
}

#canvasDiv {
    width: 604px;
    margin-left: -2px;

    border: solid black 2px;
}

.controlBox {
    padding: 5px 5px;
    margin-top: 25px;

    border: solid grey 2px;
    border-radius: 12px;

    background: white;
}

.valueSlider {
    padding-top: 2px;

    float: right;
    width: 400px;
}

.btn {
    height: 28px; 
    padding: 0px 4px;
    margin-top: 12px;
}